
@font-face {
  font-family: "DIN";
  src: local("DIN"),
    url("./fonts/DIN-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  z-index: -99999;

  margin: 0;
  font-family: "DIN" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

